.btn {
  height: 50px;
  border: none;
  outline: 0;
  &:focus, &:active {
    border: none;
    outline: 0;
    box-shadow: none;
  }
  &.rounded {
    border-radius: 25px !important;
  }
  &-primary {
    background: #2A68BF !important;
    color: #FFFFFF;
  }
}
